extends layout

block content
    main
          if (articles && articles.length)
            table
                thead
                    th Name
                    th Description
                    th Price
                    th Update
                tbody
                    each article in articles
                        tr
                            td= article.name
                            td= article.description
                            td= article.price
                            td 
                                a(href='/update/'+article.id) Update
                            td
                                form(method='POST' action='/delete/'+article.id)
                                    button(type='submit') Delete
    
    include footer
