extends layout

block content
    if(!user)
        h1 you forgot to Login
    else
        h1 Insert Article below
        //Insert form
        form(method='POST' action='/insert')
            div
                h2 Insert Title
                input(type='text' name='name')
            div
                h2 Description
                input(type='text' name='description')
            div
                h2 Price
                input(type='text' name='price')
            div
                button(type='submit' value='Submit') Submit