extends layout

block content
  //Check for any articles being passed in from the server
  if (items && items.length)
    table
        thead
            th Name
            th Description
            th Price
        tbody
            //If there is articles, create a row and column for each article
            each item in items
                tr
                    td= item.name
                    td= item.description
                    td= item.price
  else
    h1 No Items!    h1 No Items!