extends layout

block content

    main
          if (articles && articles.length)
            table
                thead
                    th Name
                    th Description
                    th Price
                tbody
                    each article in articles
                        tr
                            td= article.name
                            td= article.description
                            td= article.price
    include footer