extends layout

block content
  if(!user)
    h1 you forgot to Login
  else
    main
          if (articles && articles.length)
            table
                thead
                    th Name
                    th Description
                    th Price
                tbody
                    each article in articles
                        tr
                            td= article.name
                            td= article.description
                            td= article.price
    

  block content

  include footer